<div class="row hidden-sm">
    <div class="inside bg-yellow full-width center">

    </div>
</div>
<div class="row">
    <div class="inside bg-white col-12 center">
        <h2>Na stránkách stále pracujeme děkujeme za pochopení ou ou</h2>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="inside bg-white">
            <h3 class="center">Koruna Příbram</br>Cash & Carry</h3>
            <ul>
                <li>Po - Pá: 8:00 - 18:00</li>
                <li>So: 8:00 - 13:00</li>
                <li>Ne: 10:00 - 15:00</li>
            </ul>
            <p>Březnická 390, Příbram IV, 261 01</p>
            <p>cash@korunapb.cz</p>

        </div>
    </div>
    <div class="col-4">
        <div class="inside bg-white">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20652.734147604344!2d14.00525!3d49.680828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f58510ff47e1c14!2zS29ydW5hIFDFmcOtYnJhbQ!5e0!3m2!1sen!2scz!4v1492714849386" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>        
    </div>
    <div class="col-6 ">
        <div class="inside border">
        </div>
    </div>
</div>