<div class="row hidden-sm">
    <div class="inside bg-yellow full-width center">
        
    </div>
</div>
<div id="partnersContainer" class="row hidden-sm">
</div>
<div class="row">
    <div class="col-2 hidden-sm " style="display: none">
        <div class="inside bg-white"  style="height: 350px">
            <h1>Akční zboží</h1>
            <h5 id="nameA"></h5>
            <img class="border" id="imgA" style="width: 100%" />
            <p id="priceA"></p>
        </div>
    </div>
</div>

<div class="row hidden-sm">
    <div class= "col-3">
        <div class="btn-big-icon bg-yellow inside">
            <span>Akce</span>
            <i class="fa-3x fa fa-check"></i>
        </div>

    </div>
    <div class= "col-3">
        <div class="btn-big-icon bg-yellow inside">
            <span>Novinky</span>
            <i class="fa-3x fa fa-eye"></i>
        </div>
    </div>
    <div class= "col-3">
        <div class="btn-big-icon bg-yellow inside">
            <span>Objednávky online</span>
            <i class="fa-3x fa fa-shopping-cart"></i>
        </div>
    </div>
    <div class= "col-3">
        <div class="btn-big-icon bg-yellow inside">
            <span>Napište nám</span>
            <i class="fa-3x fa fa-pencil"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="inside bg-white">
            <h3>Grilování A-Z</h3>
            <p class="blok-box">Půjčujeme Párty stany, Plynové grily, Gril na prase, Lavice a stoly, Teplené lampy. Jsme schopni zajistit kompletní catering.</p>
            <div class="hidden-box">
                <img class="img-full-width" src="img/gril.jpg">
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="inside bg-white">
            <h3>Pivní Ráj</h3>
            <p class="blok-box">180 druhů piv z 40. různých pivovarů. Stálý sortiment piva, jakékoliv pivo co není skladem jsme schopni objednat.</p>
            <div class="hidden-box">
                <img class="img-full-width" src="img/piva.jpg">
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="inside bg-white">
            <h3>Dárkové balíčky</h3>
            <p class="blok-box">U nás na Koruně vyrábíme dárkové balíčky pro každého. Balíček je možné si sestavit dle vlastní fantazie a nebo si vybrat balíček připravený od nás.</p>
            <div class="hidden-box">
                <img class="img-full-width" src="img/kos.jpg">
            </div>
        </div>
    </div>

</div>

